*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 1300px;
    margin: auto;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.table1{
    border: 1px solid;
    padding-left: 30px;
    text-align: center;
    font-size: 25px;
    background-color: #87ceeb;
    box-shadow: 3px 5px 13px gray ;
    margin-top: 30px;
   
}
.table1 h1{
    color:#008B8B;
}
.table2{
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 1px 1px 1px black;
   border-top-color: gray;
   border-left-color: gray;
   
}
table{
    border:3px solid black;
   text-align: center;
   margin-left: 20px;
   padding:2px 2px;
   border-spacing: 5px;
}
th{
    border: 1px solid gray;
   text-align: center;
   margin-left: 20px;
   padding:2px 2px;
   border-spacing: 5px;
   font-weight: 100;
  
}
#t1{
    border-top-color: black;
    border-left-color: black;
    box-shadow: -1px 0px 0px black;
    border-style: solid;
    border-width: 1px 1px 2px 1px;    /* top right bottom left */
}
#t2{
    border-top-color: black;
    border-left-color: black;
    box-shadow: 0px 0px 0px black;
    border-style: solid;
    border-width: 1px 2px 2px 1px; 
}
#t3{
    border-top-color: black;
    border-left-color: black;
    box-shadow: -1px -1px 0px black;
}
#t4{
    border-top-color: black;
    border-left-color: black;
    box-shadow: 0px -1px 0px black;
    border-style: solid;
    border-width: 1px 2px 1px 1px; 
}
#t41{
    border-top-color: black;
    border-left-color: black;
    box-shadow: 0px -1px 0px black;
    border-style: solid;
    border-width: 1px 2px 2px 1px; 
}
td{
    border: 1px solid gray;
   text-align: center;
   margin-left: 20px;
   padding:2px 2px;
   border-spacing: 5px;
}

.td{
    padding:3px 3px;
}
.blue1{
    padding: 2px;
    border-top-color: black;
    border-left-color: black;
    box-shadow: -1px -1px 0px black;
}
.blue1 p{
    color: blue;
  
   
}
.pink1 p{
    color: pink;
}
.red1 p{
    color:red;
}
.brown1 p{
    color:brown;
}
.brown11 p{
    color:brown;
}
.blue2 p{
    color:blue;
}
.red2 p{
    color: red;
}
.pink2 p{
    color: pink;
}
.yellow2 p{
    color: yellow;
}
.brown2 p{
    color: brown;
}
.pink3 p{
    color: pink;
}
.yellow3 p{
    color:yellow
}
.brown3 p{
    color: brown;
}
.green p{
    color:green;
}
.brown4 p{
    color:brown;
}
.yellow4 p{
    color: yellow;
}
.blue4 p{
    color: blue;
}
.red4 p{
    color: red;
}
.yellow5 p {
    color: yellow;
}
.brown5 p{
  color: brown;
}
.blue5 p{
    color: blue;
}
.pink5 p{
    color: pink;
}
.brown5 p{
    color: brown;
}
.red6 p{
    color: red;
}
.pink6 p{
    color: pink;
}
.brown6 p{
    color: brown;
}

























